@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Course page";
    // co the code nhu trong controller
    Layout = "~/Views/Shared/_TrainerLayout.cshtml";
    bool statusAdd = Convert.ToBoolean(TempData["SaveStatus"]);
    bool statusUpdate = Convert.ToBoolean(TempData["UpdateStatus"]);
}
<div class="row">
    <div class="col-sm-12 col-md-12">
        <h3 class="display-6">
            List Course
        </h3>
        <form asp-action="TrainerIndex" method="get">
            <div class="form-actions no-color">
                <p class="mb-0">
                    Find by name : <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <button type="submit" class="btn btn-primary btn-sm mb-0">Search</button>
                    <a asp-action="Index">Back to full list</a>
                </p>
            </div>
        </form>
        @if (TempData["UpdateStatus"] != null)
        {
            if (statusUpdate)
            {
                <div class="text-success my-2">Update successfully</div>
            }
            else
            {
                <div class="text-danger my-2">Update Failure</div>
            }
        }

        @if (TempData["saveStatus"] != null)
        {
            if ((bool)TempData["saveStatus"])
            {
                <div class="text-success my-2">Add successfully</div>
            }
            else
            {
                <div class="text-danger my-2">Add Failure</div>
            }
        }

        <table class="table">
            <thead class="text-center">
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>CATEGORY</th>
                    <th>AVATAR</th>
                    <th>DESCRIPTION</th>
                    <th>STATUS</th>
                    <th>CREATED AT</th>
                    <th>UPDATED AT</th>
                    <th colspan="2" width="5%">ACTION</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CourseDetailLists)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.name</td>
                        <td>@item.category_id</td>
                        <td style="display: flex; justify-content: center; align-items: center;">
                            <img width="50%" class="img-fluid" src="/uploads/images/@item.avatar" />
                        </td>

                        <td>@item.description</td>
                        <td>@item.status</td>
                        <td>@item.created_at</td>
                        <td>@item.updated_at</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>