@model List<TopicList>

@{
    ViewData["Title"] = "Topic Page";
    Layout = "~/Views/Shared/_TrainingStaffLayout.cshtml";
}

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h4 class="display-6">List Topic</h4>
        <a class="btn btn-primary btn-sm" href="@Url.Action("Add","Topic")">Add Topic</a>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p class="mb-0">
                    <input style="padding:0 4px 3px 16px; height:35px; border-radius:40px 0 0 40px; border: solid 1px black; width:500px" type="text" name="SearchString" value="@ViewData["CuerrentFilter"]" />
                    <button type="submit" class="btn btn-primary btn-sm mb-0" style="border-radius:0 40px 40px 0; border: 1px solid black; height:35px">Search</button>
                    <a asp-action="Index">Back to full list</a>
                </p>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>COURSE</th>
                <th>NAME</th>
                <th>DESCRIPTION</th>
                <th>VIDEOS</th>
                <th>ATTACH FILE</th>
                <th>DOCUMENT FILE</th>
                <th>STATUS</th>
                <th>CREATED AT</th>
                <th>UPDATED AT</th>
                <th colspan="2" width="5%">ACTION</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.id</td>
                    <td>@item.CourseName</td>
                    <td>@item.name</td>
                    <td>@item.description</td>
                    
                    <td>
                        @if (!string.IsNullOrEmpty(item.videos))
                        {
                            <video class="img-fluid" controls><source type="video/mp4"src="/uploads/videos/@item.videos"></video>

                            
                        }
                    </td>
                    
                    
                    <td>
                        @if (!string.IsNullOrEmpty(item.attach_file))
                        {
                            <p>Attachment: <a href="/uploads/attachfiles/@item.attach_file" download>Download</a></p>
                        }
                    </td>

                    <td>
                        @if (!string.IsNullOrEmpty(item.documents))
                        {
                            <p>Document: <a href="/uploads/documents/@item.documents" download>Download</a></p>
                        }
                    </td>
                    <td>@item.status</td>
                    <td>@item.created_at?.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>@item.updated_at?.ToString("yyyy-MM-dd HH:mm:ss")</td>

                    <td>
                        <a class="btn btn-info btn-sm" href="@Url.Action("Update","Topic", new { id = @item.id })">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="@Url.Action("Delete","Topic", new { id = @item.id })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>